$primaryColor: #141313;
$secondaryColor: #d60a01;
$primaryFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$secondaryFont: Helvetica, sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
%bt {
  border: 2px solid $secondaryColor;
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

main {
  width: 100%;
  font-family: $primaryFont;
  overflow: hidden;
  > .row {
    // top section
    > .top {
      width: 100%;
      background-color: $primaryColor;
      height: 100vh;
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        display: flex;
        width: 100%;
        height: 100%;
        background: linear-gradient(#141313e5, #0f0e0ecc, #141313e5);
        position: absolute;
        top: 0;
        left: 0;
      }
      > video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        scale: 1.3;
      }
      > header {
        width: 100%;
        height: 12%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 15px;
        z-index: 1;
        font-family: $primaryFont;
        text-transform: capitalize;
        font-size: 14px;
        border-bottom: 1px solid #343534;
        > .row {
          height: 100%;
          > h3 {
            width: 10%;
            height: 100%;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            display: flex;
            color: white;
            cursor: pointer;
            transition: 0.3s all linear;
            &:hover {
              color: #676767;
            }
            span {
              color: $secondaryColor;
              font-size: 11px;
              position: absolute;
              top: 33%;
              left: 65px;
            }
          }
          > nav {
            width: 80%;
            > ul {
              width: 100%;
              height: 100%;
              justify-content: center;
              > li {
                list-style-type: none;
                padding: 0 38px;
                height: 100%;
                display: flex;
                align-items: center;
                > a {
                  text-decoration: none;
                  color: white;
                  font-size: 16px;
                  text-transform: capitalize;
                  position: relative;
                  transition: 0.3s all linear;
                  > img {
                    transition: 0.3s all linear;
                    &:hover {
                      filter: invert(100%) sepia(0%) saturate(2%)
                        hue-rotate(113deg) brightness(105%) contrast(101%);
                    }
                  }
                  &::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    display: none;
                    background-color: $secondaryColor;
                    position: absolute;
                    top: -60%;
                    left: calc(50% - 2px);
                  }
                  &:not(:nth-of-type(3)):hover {
                    color: #676767;
                    &::before {
                      display: block;
                    }
                  }
                }
              }
            }
          }
          > h4 {
            width: 10%;
            height: 100%;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            display: flex;
            color: $secondaryColor;
            font-size: 16px;
            cursor: pointer;
            &::after {
              content: "";
              transition: 0.3s all linear;
              width: 45px;
              height: 1px;
              display: block;
              position: absolute;
              top: 50%;
              right: 80px;
              background-color: $secondaryColor;
            }
            &:hover {
              &::after {
                width: 20px;
              }
            }
          }
        }
      }
      > section {
        width: 100%;
        height: 88%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        > article {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 9%;
          > * {
            color: white;
            font-family: Helvetica, sans-serif;
          }
          > h2 {
            font-size: 55px;
            line-height: 85px;
            margin-top: 25px;
            letter-spacing: 1px;
            > a {
              color: $secondaryColor;
              height: 85px;
              width: fit-content;
              text-decoration: none;
              position: relative;
              display: inline-block;
              overflow: hidden;
              margin-bottom: -25px;
              &::before {
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                display: block;
                background-color: $secondaryColor;
                left: 0;
                transition: 0.4s all linear;
                bottom: 0;
              }
              &::after {
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                display: block;
                background-color: $secondaryColor;
                left: -200%;
                transition: 0.4s all linear;

                bottom: 0;
              }
              &:hover {
                &::before {
                  left: 300%;
                }
                &::after {
                  left: 0;
                }
              }
            }
          }
          > p {
            margin: 20px 0 30px;
            padding-right: 50px;
            line-height: 30px;
            font-weight: bold;
          }
          > div {
            width: 100%;
            padding-top: 70px;
            position: relative;
            > p {
              font-size: 12px;
              transform-origin: 0 0;
              transform: rotate(-90deg) translateY(-15px);
              font-weight: bolder;
            }
            &::before {
              content: "";
              position: absolute;
              width: 4px;
              height: 4px;
              background-color: $secondaryColor;
              bottom: -100%;
              border-radius: 50%;
              left: -10px;
            }
            &::after {
              content: "";
              width: 1px;
              height: 100%;
              background-color: #343534;
              position: absolute;
              bottom: calc(-100% + 9px);
              left: -9px;
            }
          }
        }
        > div {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          position: relative;
          > p {
            font-size: 13px;
            color: #7c7d7f;
            transform-origin: 100 100;
            transform: rotate(-90deg);
            position: absolute;
            font-weight: lighter;
            top: 43%;
            right: 0px;
            > span {
              color: white;
            }
          }
          > div {
            width: 355px;
            height: 138px;
            background-color: $secondaryColor;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bolder;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            &::before {
              content: "";
              background-color: #b60700;
              position: absolute;
              width: 100%;
              height: 100%;
              left: -100%;
              top: 0;
              transition: 0.4s all linear;
            }
            &::after {
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: white;
              position: absolute;
              top: 50%;
              left: 80px;
            }
            > span {
              z-index: 2;
              &::before {
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: white;
                position: absolute;
                top: 50%;
                left: 70px;
                transition: 0.3s all linear;
              }
              &::after {
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: white;
                position: absolute;
                left: 90px;
                top: 50%;
                transition: 0.3s all linear;
              }
            }
            &:hover {
              &::before {
                left: 0;
              }
              > span {
                &::before,
                &::after {
                  left: 80px;
                }
              }
            }
          }
        }
      }
    }
    // end of top
    // content
    > .content {
      width: 100%;
      background-color: $primaryColor;
      > .row {
        &:first-of-type {
          padding: 50px 3% 10px 9%;
          justify-content: space-between;
          > div {
            &:first-of-type {
              width: 45%;
              background: url(../img/block2bg.png) left no-repeat;
              background-size: contain;
              display: flex;
              flex-direction: column;
              padding: 100px 50px 50px 0;
              > figure {
                width: 350px;
                height: 200px;
                display: flex;
                flex-direction: column;
                position: relative;
                font-family: $secondaryFont;
                &:first-of-type {
                  margin-left: -50px;
                  > img {
                    order: 2;
                  }
                  > figcaption {
                    order: 1;
                  }
                  span {
                    order: 3;
                    right: -45px;
                    bottom: -10px;
                  }
                }
                &:last-of-type {
                  margin-top: 60px;
                  align-self: flex-end;
                  justify-content: flex-end;
                  display: flex;
                  flex-direction: column;
                  > img {
                    order: 2;
                  }
                  > figcaption {
                    position: absolute;
                    right: 5px;
                    bottom: -10px;
                    order: 3;
                  }
                  span {
                    order: 1;
                    left: 20px;
                    top: 60px;
                  }
                }
                * {
                  text-transform: capitalize;
                }
                > img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                > figcaption {
                  font-size: 22px;
                  color: $secondaryColor;
                  letter-spacing: 1.5px;
                  font-style: italic;
                  font-weight: bolder;
                }
                > span {
                  color: white;
                  position: absolute;
                  rotate: -90deg;
                  transform-origin: left bottom;
                  font-weight: bold;
                  font-size: 10px;
                }
              }
            }
            &:last-of-type {
              width: 45%;
              position: relative;
              font-family: $secondaryFont;
              color: white;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              padding: 100px 0 100px 20px;
              > h3 {
                font-size: 40px;
                font-weight: bolder;
                > span {
                  color: $secondaryColor;
                }
              }
              > p {
                font-size: 16px;
                font-weight: lighter;
                line-height: 30px;
              }
              > a {
                width: 180px;
                height: 80px;
                background-color: #1f1f1f;
                color: white;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                font-weight: bolder;
                position: relative;
                > span {
                  z-index: 2;
                }
                &::before {
                  content: "";
                  background-color: $secondaryColor;
                  height: 100%;
                  width: 0;
                  position: absolute;
                  left: 0;
                  top: 0;
                  transition: all 0.2s linear;
                }
                &:hover {
                  &::before {
                    width: 100%;
                  }
                }
              }
              &::before {
                content: "";
                width: 1px;
                height: 50px;
                background-color: #343534;
                position: absolute;
                top: -52px;
                left: 20px;
              }
              &::after {
                content: "";
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: #d60a01;
                top: -4px;
                left: 18px;
                border-radius: 50%;
              }
            }
          }
        }
        &:last-of-type {
          width: 100%;
          padding: 40px 7% 40px calc(9% + 10px);
          // margin: 40px 0;
          position: relative;
          font-family: $secondaryFont;
          color: white;
          &::before {
            content: "";
            width: 40%;
            height: 100%;
            position: absolute;
            background-color: #181717;
            right: 0;
            top: 0;
          }
          > h2 {
            z-index: 2;
            font-size: 45px;
            font-weight: bold;
            margin: 30px 0;
          }
          > section {
            z-index: 2;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            > a {
              width: 30%;
              color: white;
              margin: 30px 0;
              > div {
                margin: 25px 0;
                display: flex;
                align-items: center;
                > figure {
                  display: flex;
                  > img {
                    width: fit-content;
                    object-fit: cover;
                    transition: 0.3s linear;
                  }
                }
                > h3 {
                  font-size: 22px;
                  padding: 0 25px;
                  transition: 0.3s linear;
                  display: flex;
                  flex-direction: column;
                  &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    transition: 0.3s linear;
                    margin-top: 5px;
                    background-color: transparent;
                    border-bottom: 2px dotted $secondaryColor;
                    opacity: 0;
                  }
                }
              }
              > p {
                font-family: $primaryFont;
                line-height: 30px;
              }
              &:hover {
                > div > figure > img {
                  filter: grayscale(1) brightness(5) sepia(0.5);
                }
                > div > h3 {
                  color: $secondaryColor;
                  &::after {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
    // end of content
    // slider
    > .slider {
      // overflow: hidden;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      position: relative;
      .row {
        width: 82%;
        > div {
          // top absolute
          &:first-of-type {
            width: 100%;
            height: 135px;
            font-family: $secondaryFont;
            border-left: 1px solid #e7e7e7;
            > a {
              width: 30.5%;
              height: 135px;
              position: absolute;
              right: 0;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              font-size: 13px;
              font-weight: bold;
              background-color: $secondaryColor;
              text-transform: uppercase;
              z-index: 2;
              &:hover ~ h2 {
                color: white;
                &::before {
                  left: 0;
                }
              }
            }
            > h2 {
              display: flex;
              height: 100%;
              align-items: center;
              justify-content: flex-start;
              padding-left: 25px;
              font-size: 42px;
              transition: 0.3s linear;
              &::before {
                content: "";
                width: 69.5%;
                height: 135px;
                position: absolute;
                left: 69.5%;
                top: 0;
                background-color: $secondaryColor;
                transition: 0.3s linear;
                justify-self: end;
              }
              > span {
                z-index: 5;
              }
            }
          }
          // bottom
          &:last-of-type {
            width: 100%;
            display: flex;
            > div {
              // big figure
              &:first-of-type {
                width: 73.75%;
                border-left: 1px solid #e7e7e7;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                > div {
                  display: flex;
                  margin: 90px 0 70px;
                  justify-content: space-between;
                  > div {
                    &:first-of-type {
                      flex-direction: column;
                      font-family: $primaryFont;
                      padding: 0 25px;
                      > h4 {
                        width: fit-content;
                        font-size: 25px;
                        font-weight: bold;
                      }
                      > p {
                        width: fit-content;
                        padding: 10px 0;
                      }
                    }
                    &:last-of-type {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      > p {
                        font-family: $primaryFont;
                        font-weight: light;
                        font-size: 16px;
                        display: flex;

                        > span {
                          padding: 0 15px;
                          &:last-of-type {
                            color: #a4a4a4;
                          }
                        }
                      }
                      > div {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 5px;
                        > span {
                          cursor: pointer;
                          font-size: 20px;
                          padding: 0 10px;
                        }
                      }
                    }
                  }
                }
                > figure {
                  width: 100%;
                  height: 524px;
                  display: flex;
                  justify-content: center;
                  overflow: hidden;
                  position: relative;
                  > img {
                    object-fit: cover;
                    height: 100%;
                  }
                  > figcaption {
                    > a {
                      position: absolute;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      bottom: 0;
                      left: -180px;
                      background-color: $secondaryColor;
                      color: white;
                      font-weight: bolder;
                      text-transform: uppercase;
                      font-size: 14px;
                      height: 70px;
                      width: 180px;
                      transition: 0.3s linear;
                    }
                  }
                  &:hover {
                    > figcaption {
                      > a {
                        left: 0;
                      }
                    }
                  }
                }
                &::before {
                  content: "";
                  width: 1px;
                  height: 50px;
                  background-color: #e7e7e7;
                  position: absolute;
                  bottom: -50px;
                  left: 0px;
                  z-index: 5;
                }
                &::after {
                  content: "";
                  position: absolute;
                  width: 4px;
                  height: 4px;
                  background-color: #d60a01;
                  bottom: -50px;
                  left: -1px;
                  border-radius: 50%;
                  z-index: 10;
                }
              }
              // figures
              &:last-of-type {
                width: 26.25%;
                border-left: 1px solid #e7e7e7;
                border-right: 1px solid #e7e7e7;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                > figure {
                  border: 1px solid white;
                  height: 175px;
                  position: relative;
                  > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(1);
                  }
                  > figcaption {
                    transition: 0.3s linear;
                    position: absolute;
                    bottom: -40%;
                    left: 0;
                    color: white;
                    font-size: 22px;
                    padding: 20px;
                    font-weight: bolder;
                  }
                  &:hover {
                    > img {
                      filter: grayscale(0) brightness(0.7);
                    }
                    > figcaption {
                      bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // end of slider
    // clients
    > .client {
      background-color: #fff;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      > .row {
        flex-direction: column;
        display: flex;
        width: 82%;
        padding: 100px 0;
        > h5 {
          font-family: $secondaryFont;
          font-size: 43px;
          font-weight: bolder;
          width: 50%;
        }
        > p {
          font-family: $primaryFont;
          width: 50%;
          line-height: 35px;
          color: #323232;
          font-size: 17px;
          padding: 5px 0;
        }
        > div {
          display: flex;
          justify-content: space-between;
          padding: 90px 40px;
          > figure {
            width: 13%;
            > img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    // end of clients
    // thoughts
    .thoughts {
      border-bottom: 1px solid #1d1d1d;
      > h3 {
        width: 100%;
        display: flex;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: $secondaryFont;
      }
      > .row {
        margin-top: 220px;
        padding: 0 80px;
        background-color: $primaryColor;
        justify-content: space-evenly;
        align-content: space-between;
        figure {
          margin-bottom: 65px;
          padding: 150px 65px;
          height: fit-content;
          width: fit-content;
          position: relative;
          display: flex;
          &:nth-of-type(even) {
            margin-top: -200px;
          }
          &:nth-of-type(odd) {
            margin-top: -250px;
          }
          > a {
            overflow: hidden;
            width: 430px;
            height: 530px;
            > img {
              width: 100%;
              object-fit: cover;
              transition: 0.3s linear;
              filter: brightness(0.8);
            }
            &:hover {
              > img {
                scale: 1.1;
              }
              ~ figcaption > h4 {
                transform: translateX(-20px);
              }
            }
          }
          > figcaption {
            width: 430px;
            display: flex;
            align-self: flex-end;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            position: absolute;
            color: white;
            > h4 {
              display: flex;
              transform: translateX(-35px);
              font-weight: bolder;
              font-family: $secondaryFont;
              font-size: 22px;
              transition: 0.3s linear;
              width: 100%;
            }
            > p {
              font-family: $primaryFont;
              line-height: 30px;
              width: 100%;
              display: flex;
              padding: 50px 10px;
              justify-content: flex-start;
            }
          }
        }
      }
      > div:last-of-type {
        background-color: $primaryColor;
        font-family: $secondaryFont;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 120px;
        > h5 {
          font-size: 25px;
        }
        > p {
          font-family: $primaryFont;
          margin: 25px 0;
          font-size: 17px;
        }
        > a {
          width: 175px;
          height: 80px;
          background-color: #1f1f1f;
          display: flex;
          justify-content: center;
          text-transform: uppercase;
          font-size: 13px;
          color: white;
          font-weight: bold;
          align-items: center;
          position: relative;
          overflow: hidden;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            background-color: $secondaryColor;
            width: 100%;
            transition: 0.3s linear;
            height: 100%;
          }
          &:hover::before {
            left: 0;
          }
          > span {
            z-index: 2;
          }
        }
      }
    }
    // end of thoughts
    // footer
    > footer {
      width: 100%;
      background-color: $primaryColor;
      display: flex;
      align-items: center;
      flex-direction: column;
      > div {
        color: white;
        width: 80%;
        font-family: $primaryFont;
        &:first-of-type {
          border-bottom: 1px solid #1d1d1d;
          margin-top: 55px;
          padding-bottom: 80px;
          display: flex;
          justify-content: space-between;
          > div {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:first-of-type {
              width: fit-content;
              > h3 {
                font-size: 30px;
                font-family: $secondaryFont;
                display: flex;
                align-items: center;
                > span {
                  padding: 0 10px;
                }
              }
              > p {
                margin: 35px 0 25px;
              }
              > figure {
                width: 125px;
                > img {
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
            &:last-of-type {
              width: fit-content;
              > h5 {
                font-size: 25px;
                font-weight: lighter;
              }
              > p {
                margin: 30px 0;
              }
              > div {
                width: 400px;
                height: 40px;
                display: flex;
                border: 1px solid #1d1d1d;
                >input{
                  &:first-of-type{
                    background-color: transparent;
                    color: #757575;
                    border: none;
                    width: 80%;
                    padding: 10px;
                    &:focus{
                      outline: none;
                    }
                  }
                  &:last-of-type{
                    background-color: #1f1f1f;
                    color: white;
                    border: none;
                    width: 20%;
                    font-weight: normal;
                    font-family: $primaryFont;
                    font-size: 12px;
                  }
                }
                @extend %bt
              }
            }
          }
        }
        &:last-of-type {
          display: flex;
          padding: 30px 0;
          justify-content: space-between;
          align-items: center;
          >h5{
            >span{
              font-weight: lighter;
            }
          }
          >div{
            >a{
              color: #4a4a4a;
              transition: .3s linear;
              font-size: 20px;
              padding: 0 10px;
              &:hover{
                color: #b5b5b5;
              }
            }
          }
          >figure{
            width: 100px;
            height: 100px;
            cursor: pointer;
            >img{
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
              filter: brightness(0.7);
            }
            &:hover{
              >img{
                filter: brightness(1);
              }
            }
          }
        }
      }
    }
    // end of footer
  }
}
.active {
  > img {
    filter: grayscale(0) brightness(0.7) !important;
  }
  > figcaption {
    bottom: 0 !important;
  }
}
